<h1>Coupon Form</h1>
<%= form_tag students_path do %>
  <label>First Name:</label><br>
  <%= text_area_tag :'coupon_code' %><br>
 
  <label>Last Name:</label><br>
  <%= text_area_tag :'store' %><br>
 
  <%= submit_tag "Submit Student" %>
<% end %>